<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>

<body>
    <div id="wrapper">
        <h2>
            Список изображений
        </h2>
        {% if images %}
        {% for item in images %}
        <a href="{{item.image.url}}">{{item.get_image_name}}</a><br>
        {% endfor %}
        {% else %}
        <p>
            Нет доступных изображений
        </p>
        {% endif %}
        <br><br>
        <a href="{% url 'add_image_link' %}">
            Добавить изображение
        </a>
    </div>
</body>

</html>