<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>

<body>
    <div id="wrapper">
        <a href="{% url 'main_page_link' %}">
            Назад к списку
        </a>
        <h2>
            Новое изображение
        </h2>
        <form action="#" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <label for="link">Ссылка</label>
            <input type="text" id="link" name="link">
            <br><br>
            <label for="file">Файл</label>
            <input type="file" id="file" name="file">-->
            <br><br>
            <input type="submit" value="Отправить">
        </form>
    </div>
</body>

</html>